.clothing-content
	.product
		margin 0 auto 50px
		width fit-content
		h2.store-name
			color rgb(167, 167, 167)
			text-align center
			font-weight 300
			margin 0 0 3px
			font-size 12.5px
			text-transform uppercase
		.product-img-wrap
			max-width 220px
			position relative
			cursor pointer
			height fit-content
			margin 0 auto 10px
			border-radius .2em
			&:hover
				.img-darken-overlay
					background rgba(0,0,20,0.15)
				.favorite-btn
					visibility visible !important
					opacity 1 !important
					transform translateY(-20px) !important
			img
				width 100%
			.img-darken-overlay
				position absolute
				z-index 1
				top 0
				left 0
				width 100%
				height calc(100% - 5px)
				background rgba(0,0,30,0.05)
				transition background .3s
			.favorited-tag
				position absolute
				top 30px
				left -10px
				z-index 2
				transition left .3s
				&.reverse-transition
					.corner
						transition bottom .2s .3s !important
					.banner
						transition width .3s !important
				&.active
					.corner
						bottom 0 !important
					.banner
						width 60px !important
				.banner
					background rgb(26, 176, 117)
					width 0
					padding 3px 0 2px
					overflow hidden
					left 0
					transition width .3s .2s
					p
						color white
						margin 0
						text-align center
						font-size 9px
						letter-spacing 0.3px
						text-transform uppercase
				.corner-wrap
					width 10px
					height 8px
					overflow hidden
					clip-path: polygon(100% 0, 0 0, 100% 100%);
					position relative
					.corner
						background #179a67
						clip-path: polygon(100% 0, 0 0, 100% 100%);
						position absolute
						bottom -8px
						width 10px
						height 8px
						transition bottom .2s
			.button-wrap
				display flex
				justify-content center
				flex-flow row nowrap
				position absolute
				bottom 0
				left 50%
				z-index 2
				transform translateX(-50%)
				.action-btn
					width 40px
					height 40px
					border-radius 40px
					cursor pointer
					visibility hidden
					position relative
					opacity 0
					transform translateY(-10px)
					.tooltip
						position:absolute;
						left 50%
						transform translate(-50%)
						top -30px
						white-space nowrap
						padding 3px 15px
						background-color: rgb(20, 21, 27);
						&:after
							content ''
							position absolute
							top 100%
							left 50%
							margin-left -6px
							width 0
							height 0
							border-top solid 6px rgb(20, 21, 27)
							border-left solid 6px transparent
							border-right solid 6px transparent
						.tooltip-text
							color white
							margin 0
							font-size 11px

				.favorite-btn
					transition background .3s, transform .4s, opacity .3s, visibility .3s
					.icon
						background-position center
						background-repeat no-repeat
						background-size cover
						position absolute
						top 50%
						left 50%
						transform translate(-50%, -50%)
		.product-desc
			text-align center
			a.product-title
				margin 0
				font-weight 300
				font-size 14.5px
				max-width 400px
				line-height 130%
				letter-spacing 0.4px
				color #2c2c37
				cursor pointer
				text-decoration none
			.price-wrap
				display flex
				justify-content center
				align-items center
				width fit-content
				margin 5px auto 7.5px
				.price
					font-weight 600
					margin 0
					font-size 14px
					letter-spacing 0.2px
					color #24242d
					&.strikethrough
						color #a2a2a2
						text-decoration line-through
				.sale-price
					margin 0 0 0 30px
					font-weight 700
					color #21212a
					font-size 14px
					letter-spacing 0.2px

.favorites-container
	.clothing-content
		.darken-overlay
			opacity 0 !important
		.favorite-btn
			&:hover
				background rgb(212, 22, 22) !important
			&.active
				background rgb(30, 36, 48)
			.icon
				background-image url('../img/removed.svg')
				width 16px
				height 16px

.similar-clothing-container
	.clothing-content
		.product
			.product-img-wrap
				&:hover
					.not-similar-btn,
					.similar-btn
						visibility visible
						opacity 1
						transform translateY(-20px)
			.not-similar-btn
				transition background .3s, transform .4s .2s, opacity .3s .2s, visibility .3s .2s
				.tooltip-text
					width 60px !important
				.icon
					background-image url('../img/thumb-down.svg')
			.similar-btn
				margin 0 15px
				transition background .3s, transform .4s .1s, opacity .3s .1s, visibility .3s .1s
				.icon
					background-image url('../img/thumb-up.svg')
			.favorite-btn
				&.active
					background rgb(27, 189, 126) !important
				.icon
					background-image url('../img/white-favorite-icon.svg')
					width 18px
					height 18px
			.action-btn
				background rgb(30, 36, 48)
				&:hover
					background rgb(62, 73, 97)
				.icon
					background-position center
					background-repeat no-repeat
					background-size cover
					position absolute
					top 50%
					left 50%
					width 19px
					height 19px
					transform translate(-50%, -50%)
