@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap')
body
  width 360px
  height 600px
  background white
  font-family 'Open Sans', sans-serif !important
  text-align center
  overflow-y hidden
  overflow-x hidden
  position relative
  margin 0

.main
  overflow-y hidden
  overflow-x hidden
  &.similar-items-active
    .view-similar-items-wrap
      display block !important
    .content-wrap
      height 460px !important
    .search-select-stores
      .continue-to-search-btn
        bottom 95px
        &.active
          bottom 100px

.header
  width 100%
  height 49px
  border-bottom 1px solid #e8eaea
  position relative
  overflow-y hidden
  overflow-x hidden
  .markdown-logo
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    background-image url('../img/markdown-logo900.png')
    background-size cover
    background-position center
    background-repeat no-repeat
    width 25px
    height 25px


.view-similar-items-wrap
  height 39px
  width 100%
  border-top solid 1px #e8eaea
  position relative
  display none
  p
    margin 0
    position absolute
    top 50%
    left 50%
    font-size 15px
    font-weight 600
    transform translate(-50%, -50%)
    text-align center
    color #1ac773
    cursor pointer
    transition color .3s
    &:hover
      color #129c58

.footer
  height 49px
  width 100%
  border-top 1px solid #e8eaea
  position relative
  .nav
    width fit-content
    height 100%
    margin 0 auto
    display flex
    align-items center
    justify-content center
    .nav-item
      height fit-content
      width fit-content
      margin 0 30px
      &.nav-item-search
        .icon
          background-image url('../img/search-icon.svg')
          margin-top 7.5px
      &.nav-item-favorites
        .icon
          background-image url('../img/favorite-icon.svg')
          margin-top 3.5px
          height 31px
          width 28px
      .icon
        background-size cover
        background-position center
        background-repeat no-repeat
        width 30px
        height 30px
        cursor pointer
        opacity 0.6
        transition opacity .3s
      &:hover
        .icon
          opacity 1

.content-wrap
  height 500px
  position relative
  width 100%
  overflow-y auto
  overflow-x hidden
  display none
  &.active
    display block

.all-products
  .loader
    margin 10px auto 0
    width 50px
    height 50px
    background-image url('../img/loader.svg')
    background-size cover
    background-position center
    background-repeat no-repeat
  .product-wrap
    width 95%
    margin 15px auto
    height 110px
    position relative
    display flex
    justify-content left
    .favorite-btn
      align-self center
      margin-right 5px
      cursor pointer
      &:hover
        i
          color #1ac773
      &.active
        i
          color #1ac773
      i
        color #bdbdbd
        transition color .3s
    .product-data
      align-self center
      height fit-content
      display flex
      justify-content left
      .product-img
        max-height 110px !important
        width 75px !important
        min-width 75px !important
        max-width 75px !important
        border-radius .3em
        border 1px solid #e8eaea
      .basic-product-info
        text-align left
        margin-left 10px
        .product-name
          font-size 13px
          margin 0
          color #333
          text-decoration none
          &:hover
            text-decoration underline
        .product-price
          font-size 12px
          margin 0
          color grey
          &.sold-out
            color red !important
            font-size 10px
    .store-name
      color grey
      align-self center
      font-size 10px
      width 150px
      text-align right
      margin-left auto
      font-weight 700
      text-transform uppercase

.your-favorites
  .content-header
    width calc(100% - 30px)
    height fit-content
    margin 0 auto 0
    text-align center
    padding 15px 0
    .content-title
      color #333
      font-size 19px
      margin 0
      font-weight 600
  .all-products
    .no-favorites
      color grey
      margin 30px auto 0
      font-size 15px
      text-align center
      max-width 90%

.search-stores
  .content-header
    width calc(100% - 30px)
    height fit-content
    margin 0 auto 0
    text-align left
    padding 15px 0
    .content-title
      color #333
      font-size 19px
      margin 0
      font-weight 600
    .content-subtitle
      color grey
      font-size 11px
      margin 2px 0 0
  .stores
    width calc(100% - 30px)
    margin 20px auto 35px
    height fit-content
    position relative
    .alphabetic-store-wrap
      width 100%
      margin-bottom 20px
      .alphabetic-title
        margin 0
        font-size 20px
        font-weight 700
        text-align left
        color lightgrey
      .store-links
        display flex
        justify-content left
        flex-flow row wrap
      .store-label-wrap
        display flex
        justify-content left
        align-items center
        flex-basis 50%
        margin-bottom 10px
        &.active
          .store-label
            color #1ad278 !important
        .store-link
          color #333
          font-size 14px
          text-align left
          font-weight 600
          cursor pointer
          text-decoration none
          transition color .2s
        .store-link:hover
          color #1ad278 !important


.similar-items-content
  .content-header
    width 100%
    height fit-content
    padding 15px 0
    .content-title
      color #333
      text-align center
      font-size 19px
      margin 0
      font-weight 600
  .return-to-top-btn
    position fixed
    width 100%

    height 0
    overflow hidden
    top 50px
    z-index 10
    background black
    cursor pointer
    transition background .3s, height .3s
    &:hover
      background #171717
    &.active
      height 30px
      box-shadow 0 0 12px 4px rgba(0,0,0,0.1)
    p
      color white
      font-size 15px
      font-weight 800
      margin 5px 0 0
      text-align center
