@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
body
  width 360px
  height 600px
  background white
  font-family 'Poppins', sans-serif !important
  overflow-y hidden
  overflow-x hidden
  position relative
  margin 0

#main
  overflow-y auto
  height 600px
  width 360px

.header
  background #ececec
  height 60px
  width 100%
  .header-content
    position relative
    width calc(100% - 40px)
    margin 0 auto
    height 100%
    h1.header-title
      color #333
      margin 0
      font-size 17px
      position absolute
      top 50%
      left 0
      letter-spacing 0.3px
      transform translateY(-50%)
    .nav-wrap
      display flex
      justify-content center
      align-items center
      width fit-content
      position absolute
      top 50%
      right -10px
      transform translateY(-50%)
      .nav-item
        margin 0 10px
        &.active
          .icon
            opacity 0.8 !important
        &.nav-favorites .icon
          background-image url('../img/favorite-icon.svg')
          margin-top -2px
          width 20px !important
          height 20px !important
        &.nav-stores .icon
          background-image url('../img/stores-icon.svg')
          margin-top -2px
          width 19px !important
          height 19px !important
        &.nav-similar-clothing .icon
          background-image url('../img/clothing-icon.svg')
        &.nav-info
          margin-left 5px !important
          .icon
            background-image url('../img/info-icon.svg')
            margin-top -2px
            width 19px !important
            height 19px !important
        .icon
          background-position center
          background-repeat no-repeat
          background-size cover
          width 20px
          height 20px
          opacity 0.3
          cursor pointer
          transition opacity .3s
          &:hover
            opacity 0.8

#container
  display none
  width 100%
  position relative
  padding-top 10px
  &.active
    display block

.similar-clothing-container
  .back-to-top-btn
    width 100%
    height 45px
    z-index 5
    position fixed
    top -45px
    left 0
    background rgb(30, 36, 48)
    cursor pointer
    overflow hidden
    transition background .3s, top .2s
    &.active
      top 0
    &:hover
      background rgb(42, 50, 65)
    p
      color white
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      margin 0
      font-size 14px
      font-weight 600
      letter-spacing 0.3px
  h1.container-title
    color #4d4d4d
    text-align center
    margin 0 0 30px
    font-size 20px
    font-weight 500
  .content
    width calc(100% - 40px)
    margin 0 auto
  .product
    margin 0 auto 50px
    width fit-content
    h2.store-name
      color rgb(167, 167, 167)
      text-align center
      font-weight 300
      margin 0 0 3px
      font-size 12.5px
      text-transform uppercase
    .product-img-wrap
      max-width 200px
      position relative
      cursor pointer
      height fit-content
      margin 0 auto 10px
      overflow hidden
      border-radius .2em
      &:hover
        .img-darken-overlay
          background rgba(0,0,20,0.15)
        .favorite-btn
          visibility visible
          opacity 1
          bottom 20px
      img
        width 100%
      .img-darken-overlay
        position absolute
        z-index 1
        top 0
        left 0
        width 100%
        height calc(100% - 5px)
        background rgba(0,0,30,0.05)
        transition background .3s
      .favorite-btn
        background rgb(30, 36, 48)
        width 40px
        height 40px
        z-index 2
        position absolute
        left 50%
        transform translateX(-50%)
        border-radius 40px
        cursor pointer
        visibility hidden
        opacity 0
        bottom 10px
        transition background .3s, bottom .4s, opacity .3s, visibility .3s
        &:hover,
        &.active
          background rgb(27, 189, 126)
        .icon
          background-image url('../img/white-favorite-icon.svg')
          background-position center
          background-repeat no-repeat
          background-size cover
          width 18px
          height 18px
          position absolute
          top 50%
          left 50%
          transform translate(-50%, -50%)
    .product-desc
      text-align center
      a.product-title
        margin 0
        font-weight 300
        font-size 14.5px
        max-width 400px
        line-height 130%
        letter-spacing 0.4px
        color #2c2c37
        cursor pointer
        text-decoration none
      .price-wrap
        display flex
        justify-content center
        align-items center
        width fit-content
        margin 5px auto 7.5px
        .price
          font-weight 600
          margin 0
          font-size 14px
          letter-spacing 0.2px
          color #24242d
          &.strikethrough
            color #a2a2a2
            text-decoration line-through
        .sale-price
          margin 0 0 0 30px
          font-weight 700
          color #21212a
          font-size 14px
          letter-spacing 0.2px
